<div id="<%= dom_id grade %>">
  <p>
    <strong>Subject:</strong>
    <%= grade.subject %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= grade.score %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= grade.semester %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= grade.comments %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

</div>
