<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <h3>Grades</h3>
    <div id="grades">
      <%= f.simple_fields_for :grades do |grade| %>
        <%= render "grade_fields", f: grade %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Add Grade", f, :grades , class: "btn btn-primary"%>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success mt-2" %>
  </div>
<% end %>
